.planet-orbit {
    display: flex;
    justify-content: center;
    position: absolute;
    border: 1px solid #606060;
    border-radius: 50%;

    background: none;
    padding: 0;
}

.planet {
    position: absolute;
    border-radius: 50%;
}

#sun {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #ffe266;
}

#mercury-orbit {
    width: 7em;
    height: 7em;
}

#mercury {
    top: -5px;
    width: 0.5em;
    height: 0.5em;
    background-color: #979797;
}

#venus-orbit {
    width: 11em;
    height: 11em;
}

#venus {
    top: -6px;
    width: 0.8em;
    height: 0.8em;
    background-color: #cd7b2e;
}

#earth-orbit {
    width: 16em;
    height: 16em;
}

#earth {
    top: -8px;
    width: 1em;
    height: 1em;
    background-color: #5175b3;
}

#mars-orbit {
    width: 22em;
    height: 22em;
}

#mars {
    top: -5px;
    width: 0.6em;
    height: 0.6em;
    background-color: #a5512c;
}

#jupiter-orbit {
    width: 34em;
    height: 34em;
}

#jupiter {
    top: -30px;
    width: 4em;
    height: 4em;
    background-color: #ad735a;
}

#saturn-orbit {
    width: 44em;
    height: 44em;
}

#saturn {
    top: -25px;
    width: 3.2em;
    height: 3.2em;
    background-color: #e5b97c;
}

#uranus-orbit {
    width: 54em;
    height: 54em;
}

#uranus {
    top: -13px;
    width: 1.6em;
    height: 1.6em;
    background-color:#59afcd;
}

#neptune-orbit {
    width: 62em;
    height: 62em;
}

#neptune {
    top: -13px;
    width: 1.4em;
    height: 1.4em;
    background-color:#3283d1;
}