.planet:not([disabled]):hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.planet-orbit:hover {
    cursor: pointer;
}

.planet-orbit:active {
    /* transform: scale(1.2, 1.2); */
}

#modulation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#mercury-orbit:hover {
    border-color: #b3b3b3;
}

#venus-orbit:hover {
    border-color: #cd7b2e;
}

#earth-orbit:hover {
    border-color: #5175b3;
}

#mars-orbit:hover {
    border-color: #a5512c;
}

#jupiter-orbit:hover {
    border-color: #ad735a;
}

#saturn-orbit:hover {
    border-color: #e5b97c;
}

#uranus-orbit:hover {
    border-color: #59afcd;
}

#neptune-orbit:hover {
    border-color: #3283d1;
}

#clone-orbit {
    border: 0;
    z-index: 999;
    width: 35em;
    height: 35em;
    animation-duration: 1.5s;
}

.animation-slide__left {
    transform: rotate(0deg);
    /* transform: scale(7); */
    animation: zoomInPlanet ease-out;
}

.animation-zoom {
    transform: scale(7);
    animation: zoomIn 1.5s ease-out;
}

.dev-comment {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: .8em;
    color: #545454;
}

@keyframes zoomInPlanet {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(7);
    }
}